################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/book-club/appsettings.json

*.vsidx

*.suo

/.vs

/.vscode